<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formula 1</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1><a href="/">Formula 1</a></h1>
        <h4>The 2025 Season</h4>
    </header>
    <nav>
        <ul class='nav'>
            <li><a href="/">Home</a></li></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/drivers">Drivers</a></li>
            <li><a href="/races">Races</a></li>
            {% if session.get("email") %}
              <!-- Logged in -->
              {% if session.get("admin") == 1 %}
                <li><a href="/admin">Admin</a></li>
              {% endif %}
              <li><a href="/account">Account Details</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <!-- Not logged in -->
              <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Scarlett Le</p>
    </footer>
</body>
</html>