{% extends "base.html" %}


{% block main %}
  <h2>Drivers</h2>

  <img id="banner" src="/static/images/driversbanner.jpg" alt="F1 Drivers Banner">
  

  <nav class="driver-nav">
      <ul class='nav'>
        {% for driver in drivers %}
          <li><a href="/driver/{{ driver[2] }}">{{ driver[1] }}</a></li>
        {% endfor %}
      </ul>
  </nav>

<p>F1 drivers are the heart of the sport, combining raw talent, precision, and nerves of steel. From seasoned champions to rising stars, they push themselves and their cars to the absolute limit every lap.

Every overtake, every split-second decision, and every daring move defines their place on the grid. These athletes aren’t just racing—they’re crafting history, chasing glory, and turning every circuit into a stage for speed, skill, and relentless determination.</p>

  <br>
  <hr>
  <br>

  <details>
    <summary>Driver's Championship Standings</summary>
    <br>

    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Team</th>
          <th>Points</th>
        </tr>
      </thead>
      {% for driver in drivers%}
      <tbody>
        <tr>
            <td>{{ driver[5] }}</td>
            <td><a href="/driver/{{ driver[2] }}">{{ driver[1] }}</a></td>
            <td><a href="/team/{{ driver[3] }}">{{ driver[3] }}</a></td>
            <td>{{ driver[9] }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

  </details>

{% endblock %}
