{% extends "base.html" %}


{% block main %}
  <h2>Drivers</h2>
  
  <nav class="driver-nav">
      <ul class='nav'>
        {% for driver in drivers %}
          <li><a href="/driver/{{ driver }}">{{ driver }}</a></li>
        {% endfor %}
      </ul>
  </nav>

  <br>
  <br>
  <hr>
  <br>

  <details>
    <summary>Driver's Championship Standings</summary>
    <br>

    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Team</th>
          <th>Points</th>
        </tr>
      </thead>
      {% for result in all_driver_info%}
      <tbody>
        <tr>
            <td>{{ result[5] }}</td>
            <td><a href="/driver/{{ result[1] }}">{{ result[1] }}</a></td>
            <td><a href="/team/{{ result[3] }}">{{ result[3] }}</a></td>
            <td>{{ result[9] }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

  </details>

{% endblock %}
