{% extends "base.html" %}


{% block main %}

  <h2>Teams</h2>

  <nav>
      <ul class='nav'>
        {% for team in teams%}
          <li><a href="/team/{{ team[0] }}">{{ team[0] }}</a></li>
        {% endfor %}
      </ul>
  </nav>

  <img id="banner" src="/static/images/teamsbanner.jpg" alt="F1 Teams Banner">


  <p>Formula 1 teams are the engine behind every race. Combining engineering brilliance, strategy, and teamwork, they create cars capable of blistering speed and unmatched precision. Legendary squads like Ferrari, Mercedes, and McLaren mix decades of heritage with cutting-edge innovation, while rising teams push the limits to challenge the order.</p>

  <p>Every decision—from pit stops to tyre strategy—is meticulously calculated, and rivalries extend far beyond the track. The teams are where technology, talent, and tactics collide, making every race weekend a high-stakes battle of skill, speed, and ingenuity.</p>

  <br>
  <hr>
  <br>

<details>
  <summary>Constructor's Championship Standings</summary>
  <br>

  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Points</th>
      </tr>
    </thead>
    {% for team in teams%}
    <tbody>
      <tr>
          <td>{{ team[6] }}</td>
          <td><a href="/team/{{ team[0] }}">{{ team[0] }}</a></td>
          <td>{{ team[7] }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</details>

{% endblock %}
